:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  // max-width: 1280px;
  // margin: 0 auto;
  padding: 1rem 2rem;
  // text-align: center;
}

body {
  margin: 0;
  display: flex;
}

.spread {
  border: 1px solid red;
  .page {
    border: 1px solid #555;
  }
}

#pages-menu {
  li {
    img {
      max-width: 100px;
    }
  }
}